@model IEnumerable<QLTiecCuoi.Models.MonAn>
<div class="show-list">
    <table class="tb-mon-an col-md-12">
        <thead>
            <tr>
                <th>Chọn</th>
                <th>Tên món ăn</th>
                <th>Giá món ăn</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    <tr>
                        <td><input type="checkbox" value="@item.MaMonAn"></td>
                        <td>@item.TenMonAn</td>
                        <td>@item.GiaMonAn</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>